<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="glyphicon glyphicon-wrench"></i>
				</div>
				<div class="title">80</div>
				<div class="comment">Atividades Desenvolvidas</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="glyphicon glyphicon-duplicate"></i>
				</div>
				<div class="title">46</div>
				<div class="comment">Relatórios Executados</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">15</div>
				<div class="comment">Pendências</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="glyphicon glyphicon-send"></i>
				</div>
				<div class="title">2</div>
				<div class="comment">Atividades Delegadas</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>



<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa fa-comments" title="Inserção de Novos Comunicados">
        <i class="fa fa-edit"></i> 
        <a href="#/inserir_comunicado">Novo Comunicado</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>Autoridade</td><td><a href="#/ler_comunicado" title="Leitura do Comunicado">Assunto</a></td><td><span class="text-success"><i class="fa fa-check"></i></span></td>
              </tr>
              <tr>
                <td>Autoridade</td><td><a href="#/ler_comunicado" title="Leitura do Comunicado">Assunto</a></td><td><span class="text-success"><i class="fa fa-check"></i></span></td>
              </tr>
              <tr>
                <td>Autoridade</td><td><a href="#/ler_comunicado" title="Leitura do Comunicado">Assunto</a></td><td><span class="text-success"><i class="fa fa-check"></i></span></td>
              </tr>
              <tr>
                <td>Autoridade</td><td><a href="#/ler_comunicado" title="Leitura do Comunicado">Assunto</a></td><td><span class="text-success"><i class="fa fa-check"></i></span></td>
              </tr>
              <tr>
                <td>Autoridade</td><td><a href="#/ler_comunicado" title="Leitura do Comunicado">Assunto</a></td><td><span class="text-success"><i class="fa fa-check"></i></span></td>
              </tr>
              <tr>
                <td>Autoridade</td><td>Assunto</td><td><span tooltip="Leitura Prioritária!" class="text-danger"><i class="fa fa-warning"></i></span></td>
              </tr>
              <tr>
                <td>Autoridade</td><td>Assunto</td><td><span tooltip="Leitura Expirada!" class="text-warning"><i class="fa fa-flash"></i></span></td>
              </tr>
              <tr>
                <td>Autoridade</td><td>Assunto</td><td><span class="text-success"><i class="fa fa-check"></i></span></td>
              </tr>
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>

  
  
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa fa-clipboard" title="Pendência em Atividades e Ordens">
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>Autoridade</td>
                <td>Ordem ou Atividade</td>
                <td>Andamento</td>
                <td>
                  <span class="text-success"><i class="fa fa-check"></i></span>
                </td>
              </tr>
              <tr>
                <td>Autoridade</td>
                <td>Ordem ou Atividade</td>
                <td>Andamento</td>
                <td>
                  <span class="text-success"><i class="fa fa-check"></i></span>
                </td>
              </tr>
              <tr>
                <td>Autoridade</td>
                <td>Ordem ou Atividade</td>
                <td>Andamento</td>
                <td>
                  <span class="text-success"><span tooltip="Leitura Prioritária!" class="text-danger"><i class="fa fa-warning"></i></span>
                </td>
              </tr>
              <tr>
                <td>Autoridade</td>
                <td>Ordem ou Atividade</td>
                <td>Andamento</td>
                <td>
                  <span class="text-success"><span tooltip="Leitura Expirada!" class="text-warning"><i class="fa fa-flash"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>



<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div>


