<div class="container modal-header">
  <h3 class="modal-title">
    <i class="glyphicon glyphicon-hand-right"></i>
    &nbsp;&nbsp;
    Propor Plano de Adaptação do Software SAE junto ao Meta4Mind
  </h3>
  <h6>
    Maj. QOPM Carolaine da Rocha, Chefe da Seção de Sistemas de Informação - DDTQ/PMPR.
  </h6>
</div>

<div class="container modal-body">

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac metus cursus odio auctor commodo. Nulla eu tempor urna. Quisque ut pulvinar tortor, nec scelerisque odio. Ut ultrices maximus ipsum, vehicula lobortis tortor vehicula nec. Ut euismod est eget leo sodales, a consectetur sapien hendrerit. Proin auctor bibendum sapien, nec varius ante feugiat eget. Ut sem nisi, posuere a laoreet eu, dictum luctus diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  <br /><br />

</div>

<div class="container modal-footer">

  <div class="col-md-3">
    <button class="btn btn-success btn-block">Missão Cumprida</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-warning btn-block">Inserir Anotação</button>
  </div>  
  <div class="col-md-3">
    <button class="btn btn-danger btn-block">Anotar Fracasso</button>
  </div>  
  <div class="col-md-3">
    <button class="btn btn-primary btn-block" onclick='javascript:history.back()'>Retornar</button>
  </div>  


</div>