<div class="container modal-header">
  <h3 class="modal-title">
    <i class="glyphicon glyphicon-hand-right"></i>
    &nbsp;&nbsp;
    Propor Plano de Adaptação do Software SAE junto ao Meta4Mind
  </h3>
  <h6>
    Maj. QOPM Carolaine da Rocha, Chefe da Seção de Sistemas de Informação - DDTQ/PMPR.
  </h6>
</div>

<div class="container modal-body">

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac metus cursus odio auctor commodo. Nulla eu tempor urna. Quisque ut pulvinar tortor, nec scelerisque odio. Ut ultrices maximus ipsum, vehicula lobortis tortor vehicula nec. Ut euismod est eget leo sodales, a consectetur sapien hendrerit. Proin auctor bibendum sapien, nec varius ante feugiat eget. Ut sem nisi, posuere a laoreet eu, dictum luctus diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  <br /><br />
  Aliquam erat volutpat. Duis vehicula libero vestibulum diam accumsan, vitae imperdiet magna pharetra. Donec ornare pharetra felis, sit amet ullamcorper nisi scelerisque at. Aenean turpis nisi, vehicula at massa ac, facilisis commodo mauris. Praesent at mollis odio, non commodo urna. Proin a feugiat turpis, eu mollis ipsum. Aenean dictum massa ut nisl mattis vehicula. Mauris eget facilisis risus, at ornare diam. Suspendisse in viverra eros, id tempor mauris. Nulla facilisi. Morbi scelerisque dapibus condimentum. Duis sed velit vitae metus mattis elementum non ac justo.
  <br /><br />
  Phasellus mattis risus a tempor finibus. Aenean et venenatis urna. Donec sit amet purus lacus. Ut elementum nulla sed sapien sodales, sed congue turpis fringilla. Nunc sed pulvinar arcu. Vestibulum porttitor ante eu ipsum pretium sagittis. Nam tristique nisi augue, eget finibus augue cursus sed. Ut orci arcu, cursus sed vulputate a, hendrerit vel augue. Nullam non pharetra neque. Cras urna nisl, interdum id suscipit ac, egestas vel sem. Phasellus hendrerit libero at facilisis vestibulum. Praesent blandit tincidunt vulputate.
  <br /><br />
  Phasellus quis efficitur erat. Praesent bibendum magna diam, a fermentum nisi pulvinar tristique. Cras sollicitudin metus in aliquam molestie. Nunc fringilla vel arcu nec sagittis. Mauris porttitor, turpis id suscipit sollicitudin, quam ante pretium ligula, nec convallis urna purus at purus. Phasellus libero nibh, cursus in arcu ac, fermentum interdum ipsum. Donec aliquet justo quis lorem mollis congue. Sed dapibus consectetur eros sed aliquam. Aliquam dapibus dolor nec nisi porttitor dignissim. In hac habitasse platea dictumst. Suspendisse non tincidunt dui. Duis vel sem sodales, euismod felis non, fringilla justo. Cras suscipit mi sit amet nulla pharetra tincidunt. Vivamus pretium eget velit at aliquet.
  <br /><br />
  Integer ullamcorper nec libero id rutrum. Donec eget nisi ut augue luctus varius. Sed interdum luctus condimentum. Vivamus vestibulum congue purus quis vestibulum. Integer id pellentesque diam, quis ultrices sapien. Aliquam vel sapien volutpat, interdum enim at, consectetur massa. Pellentesque nulla nisi, molestie sed tellus eget, dignissim faucibus ex. Sed rutrum fringilla sem. Donec at sodales magna. 

</div>

<div class="container modal-footer">

  <div class="col-xs-4">
    <button class="btn btn-success btn-block">Missão Cumprida</button>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-warning btn-block">Registrar Anotações</button>
  </div>  
  <div class="col-xs-4">
    <button class="btn btn-primary btn-block" onclick='javascript:history.back()'>Retornar</button>
  </div>  

</div>