<!--Seção de Widgets de Indicadores Básicos-->
<div class="row">

	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="glyphicon glyphicon-ok-circle"></i>
				</div>
				<div class="title">80</div>
				<div class="comment">Ordens Cumpridas</div>
			</rd-widget-body>
		</rd-widget>
	</div>

	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="glyphicon glyphicon-hand-right"></i>
				</div>
				<div class="title">6</div>
				<div class="comment">Novas Ordens</div>
			</rd-widget-body>
		</rd-widget>
	</div>

	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="glyphicon glyphicon-info-sign"></i>
				</div>
				<div class="title">15</div>
				<div class="comment">Pendências</div>
			</rd-widget-body>
		</rd-widget>
	</div>

	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="glyphicon glyphicon-send"></i>
				</div>
				<div class="title">2</div>
				<div class="comment">Atividades Delegadas</div>
			</rd-widget-body>
		</rd-widget>
	</div>

</div>
<!--Fim da Seção de Widgets-->



<div class="row">

  <!--Seção de Ordens para Cumprimento-->
  <div class="col-lg-6">
    
    <rd-widget>
      
      <!--Widget do Cabeçalho-->
      <rd-widget-header icon="fa fa-hand-pointer-o" title="Relação de Novas Ordens para Cumprimento">
      </rd-widget-header>
      <!--Fim do Widget do Cabeçalho-->
      
      <!--Corpo da Tabela da Relação de Ordens-->
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>Autoridade</td>
                <td>
                    <a href="#/ler_ordem" title="Leitura da Ordem">Ordem</a>
                </td>
                <td>Prazo para Conclusão</td>
                <td>Protocolo</td>
              </tr>
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
      <!--Fim do Corpo da Tabela de Relação de Ordens-->
      
      <!--Rodapé da Tabela de Relação de Ordens-->
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
      <!--Fim do Rodapé-->
      
    </rd-widget>
  
  </div>
  <!--Fim da Seção de Ordens para Cumprimento-->

<!--Seção de Ordens para Acompanhamento-->
  <div class="col-lg-6">
    
    <rd-widget>
      
      <!--Widget do Cabeçalho-->
      <rd-widget-header icon="fa fa-hand-pointer-o" title="Acompanhamento de Ordens">
        <i class="glyphicon glyphicon-hand-right"></i> 
        <a href="#/emitir_ordem">Emitir Ordem</a>
      </rd-widget-header>
      <!--Fim do Widget do Cabeçalho-->
      
      <!--Corpo da Tabela da Relação de Ordens-->
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>Autoridade</td>
                <td>Ordem</td>
                <td>Prazo para Conclusão</td>
                <td>
                  <a href="#/acompanhamento_ordem" title="Acompanhamento de Ordem">Alterar Status</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
      <!--Fim do Corpo da Tabela de Relação de Ordens-->
      
      <!--Rodapé da Tabela de Relação de Ordens-->
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
      <!--Fim do Rodapé-->
      
    </rd-widget>
  
  </div>
  <!--Fim da Seção de Ordens para Acompanhamento-->



</div>




  