<!doctype html>
<html lang="en" ng-app="monolito">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>[ Monólito ]</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>

</head>

<body ng-controller="MasterCtrl">
  
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Monólito
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>Home</span></li>
        <li class="sidebar-list">
          <a href="#/" ng-click='mudaTitulo("Home", "Home / Dashboard")'>
            Dashboard <span class="menu-icon glyphicon glyphicon-equalizer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>Atividade Diária</span></li>
        <li class="sidebar-list">
          <a href="#/ordens" ng-click='mudaTitulo("Atividade Diária", "Atividade Diária / Ordens")'>
            Ordens <span class="menu-icon glyphicon glyphicon-hand-right"></span>
          </a>
        </li>
        <li class="sidebar-list">
          <a href="#/relatorios" ng-click='mudaTitulo("Atividade Diária", "Atividade Diária / Relatórios")'>
            Relatórios <span class="menu-icon glyphicon glyphicon-duplicate"></span>
          </a>
        </li>
     </ul>

      <!--Sidebar Footer-->
      <div class="sidebar-footer">
        <div class="col-xs-6">
          <a href="http://intranet.pmpr.parana" target="_blank">
            Intranet
          </a>
        </div>
        <div class="col-xs-6">
          <a href="#">
            Configurações
          </a>
        </div>
      </div>
    
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">
        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <!-- Menu Dropdown do Usuário -->
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Jose da Silva
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#" ng-click='mudaTitulo("Menu Usuário", "Dados Pessoais")'>
                      Dados Pessoais
                    </a>
                  </li>
                  <li class="link">
                    <a href="#" ng-click='mudaTitulo("Menu Usuário", "Configurações")'>
                      Configurações
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="dropdown-header">
                    Administração
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#" ng-click='mudaTitulo("Menu Usuário", "Administração de Usuários")'>
                      Usuários
                    </a>
                  </li>
                  <li class="link">
                    <a href="#" ng-click='mudaTitulo("Menu Usuário", "Administração de Grupos")'>
                      Grupos
                    </a>
                  </li>
                  <li class="link">
                    <a href="#" ng-click='mudaTitulo("Menu Usuário", "Administração de Sistemas")'>
                      Sistemas
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            
            <!-- Titulo e Subtitulo da Localização -->
            <div class="meta">
              <div class="page">
                {{titulo}}
              </div>
              <div class="breadcrumb-links">
                {{subtitulo}}
              </div>
            </div>
          
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
